﻿#wrapper {
    display: flex;
}
body {
    height: 100%;
}
.sidebar-dark #sidebarToggle:hover {
    background-color: hsla(0,0%,100%,.25);
}

.sidebar #sidebarToggle:focus {
    outline: none;
}

.sidebar #sidebarToggle:hover {
    text-decoration: none;
}

.sidebar-dark #sidebarToggle {
    background-color: hsla(0,0%,100%,.2);
}

.sidebar #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
.errorStyle {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.btn-primary {
    color: #fff;
    background-color: #6832a8 !important;
    border-color: #6832a8 !important;
}
.btn-custom {
    color: #fff;
    background-color: #6832a8 !important;
    border-color: #6832a8 !important;
}
.text-main {
    color: #6832a8 !important;
}
header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}
.dc-test{
    height: 50px;
    background-color: red;
}
.text-primary {
    color: #b393c7 !important;
}


