﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="QLPhong.aspx.cs" Inherits="Yoga_Management.QLPhong" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            QL phòng
        </div>
    </form>
</body>
</html>
